html,
body {
  margin: 0px;
}

@for $i from 1 to 5 {
  .pt-#{$i} {
    padding-top: $i * 10px;
  }
}

i {
  font-size: 32px;
}

.container {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "gsbar gnav"
    "gsbar gctt";
}

.sidebar {
  grid-area: gsbar;
  width: 200px;
  padding-top: 10px;
  background-color: rgb(25, 50, 201);
  transform: translateX(-150px);
  transition: transform 0.5s;

  .sidebar-item {
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    i,
    p {
      padding: 10px;
      font-size: 32px;
      color: white;
    }
    p {
      display: inline-block;
      margin: 0px;
    }
    i {
      float: right;
    }
  }

  &:hover {
    transform: translateX(0px);
    i {
      float: left;
    }
    p {
      animation-name: fadein;
      animation-duration: 0.5s;
    }
  }
}

@keyframes fadein {
  75% {
    transform: translateX(30px) skewX(-30deg);
  }

  100% {
    transform: translateX(0px);
  }
}

.nav {
  display: flex;
  align-items: center;
  grid-area: gnav;
  background-color: white;

  .searchBox {
    flex-grow: 1;
    margin-left: 10px;
    display: flex;

    input {
      margin: 0px;
      padding: 5px;
      transition: all 1s;

      &:focus {
        padding-right: 100px;
      }
    }

    button {
      background-color: black;
      border-radius: 10%;
      margin: 0px;
    }
  }

  .blank {
    flex-grow: 2;
  }

  .icon {
    flex-grow: 1;
    text-align: right;
    i {
      font-size: 32px;
      position: relative;
    }
    * {
      padding: 10px;
    }
  }

  .noti {
    border-radius: 10%;
    background-color: red;
    color: white;
    font-size: 5px;
    padding: 5px;
    position: absolute;
    top: 3px;
    right: 12px;
  }
}

.content {
  grid-area: gctt;
  padding: 10px;
  background-color: #eee;

  .dashboard {
    display: flex;
    flex-wrap: wrap;

    .card {
      flex-grow: 1;
      width: 250px;
      border: solid 1px gray;
      border-radius: 10px;
      background-color: white;
      padding: 20px;
      margin-right: 20px;

      i {
        float: right;
      }
    }
  }

  .bottom-wrap {
    display: grid;
    grid-template-columns: 4fr 6fr;
  }

  .tasks {
    text-align: left;
    margin-left: 30px;
    ul {
        padding: 0px;
      list-style: none;
    }
  }
}

@media screen and (max-width: 538px){
    .nav{
        display: none;
    }
    .bottom-wrap{
        display: block!important;
    }
  }
