.container{
    background-color:beige;
}

h3, p{
    margin: 0px;
}

i{
    color: black;
    background-color: white;
    padding: 10px;
}

.wrapper{
    display: inline-block;
}

.box{
    overflow: hidden;
    position :relative;
    box-sizing: content-box;
    margin: 30px;
}

.box-info{
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
    position: absolute;
    top: 100%;
    transition: all 1s;
    color: white;
}

.wrapper:hover .box-info{
    top:50%
}