
@media screen and (max-width: 768px){
    .landing{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .landing .landing-info{
        margin: 0px;
    }
    .landing img{
        margin: 0px;
        margin-top: 30px;
        width: 200px;
    }

    .portfolio{
        text-align: center;
    }
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

body{
    color: white;
}

button{
    background-color: grey;
    color: white;
    padding: 10px;
}

button:hover{
    background-color: blue;
}

.landing{
    width: 100%;
    background: linear-gradient(blue, purple);
    padding: 1px;
}

.ml-30{
    margin-left: 30px;
}

.mt-30{
    margin-top: 30px;
}

.mb-30{
    margin-bottom: 30px;
}

.landing-info{
    float: left;
}

.landing-img{
    float: right;
    width: 30vw;
    margin-top: 50px;
    margin-right: 30px;
}

.f-black{
    color: black;
}

.offer{
    width: 100%;
    background-color: skyblue;
    text-align: center;
    padding: 30px;
}

.offer-icon{
    display: inline-block;
}

.offer-icon i{
    padding: 20px;
    margin: 20px;
    margin-bottom: 0px;
    background-color: white;
    color: skyblue;
    border-radius: 100%;
}

.cando{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cando-info{
    text-align: center;
}

.cando-img{
    text-align: center;
}

.cando-img-info{
    text-align: left;
}

.cando-img-item-size{
    display: inline-block;
    width: 40vw;
    height: 30vw;
    padding: 30px;
    background-size: cover;
    transition: all 1s;
}

.cando-img-item-wrap{
    display: inline-block;
}

.cando-img-item-wrap:hover .cando-img-item-size{
    padding: 0px;
    margin: 30px;
}

.cando-img-item1{
    background-image: url(../img/portfolio-1.jpg);
}

.cando-img-item2{
    background-image: url(../img/portfolio-2.jpg);
}

.cando-img-item3{
    background-image: url(../img/portfolio-3.jpg);
}

.cando-img-item4{
    background-image: url(../img/portfolio-4.jpg);
}

.share i{
    padding: 20px;
    margin: 20px;
    margin-bottom: 0px;
    background-color: blue;
    color: white;
    border-radius: 100%;
}