.w-10{
    width: 10%;
}

.profile-right span{
    margin: 30px;
}


@media screen and (max-width: 768px){
    .container #profile-left img{
        width: 100px;
        height: 100px;
    }

    .container .profile #profile-left-info{
        margin-right: 0px!important;
    }

    #profile-right{
        border: 0px!important;
        float: left!important;
        margin-top: 20px;
    }

    #detail-left, #detail-mid, #detail-right{
        width: 100%!important;
    }

    #detail-right{
        margin-bottom: 30px!important;
    }

    #detail-right-bt{
        display: none;
    }
}